*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
/* defining colors to be used in capstone project */
:root{
    --bg-color:#fff;
    --text-color: #4F4189;
    --second-color: #433D3D;
    --third-color: #000;
    --count-color: #184B88;
    --likes-comment: #F84464;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
    border-bottom: 1px solid var(--second-color);
}
.logo{
    color:var(--second-color);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color:var(--text-color);
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    margin: 0 2px;
    transition: all .45s ease;
    border-radius: 0.5rem;
    padding: 10px 25px;

}

.navlist a:hover{
    color: var(--bg-color);
    background-color: var(--text-color);
}


#menu-icon{
    font-size: 35px;
    color:var(--second-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
.hero-button {
    border: none;
    /* background: var(--text-color); */
    border: 1px solid var(--text-color);
    padding: 12px 30px;
    border-radius: 0px;
    color: var(--bg-color);
    font-size: 16px;
    font-weight: bold;
    transition: .4s;
}

/* .login-header{
    margin-top: 10px;
} */

#form {
    width: 500px;
    margin: 20vh auto 0 auto;
    padding: 50px;
    border-radius: 4px;
    font-size: 12px;
    border: 1px solid var(--text-color);
}

#form h1 {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 50px;
    font-size: 27px;
}

#form button {
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: var(--text-color);
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 20px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 13px;
    height: 13px;
}

.login-text{
    margin-top: 20px;
    color: var(--second-color);
    margin-bottom: 20px;
    font-size: 13px;
}
.login-text a{
    color: var(--text-color);
    font-weight: bold;
}


/* responsive design */
@media (max-width: 1480px){
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }
    header.sticky{
        padding: 10px 2.5px;
        transition: .1s;
    }
    section{
        padding: 110px 3% 60px;
    }
    .end{
        padding: 15px 3%;
    }

    
}

@media (max-width: 840px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 18px;
        transition: all .45s ease;
        color: var(--text-color);
    }
    .navlist a:hover{
        color: var(--second-color);
    }
    .navlist a.active{
        color: var(--text-color);
    }
    .navlist.open{
        top: 100%;
    }

    
}

@media (max-width: 768px){
    

}
