*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
/* defining colors to be used in capstone project */
:root{
    --bg-color:#fff;
    --text-color: #4F4189;
    --second-color: #433D3D;
    --third-color: #000;
    --count-color: #184B88;
    --likes-comment: #F84464;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    background: var(--bg-color);
    color: var(--text-color);
}

.card-container{
    padding: 0 200px;
}
.login-form-header{
    padding-top: 40px;
}
.login-form{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0   4px 6px #8888881d;
    border: 1px solid var(--text-color);
    margin: 250px auto;
}
.form-container{
    display: flex;
    flex-direction: column;
    padding: 70px;
    gap: 2rem;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 20px;
}

input[type="submit"] {
    width: 100%;
    padding: 14px;
    background-color: var(--text-color);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }

.login-text{
    color: var(--second-color);
}
.login-text a{
    color: var(--text-color);
    font-weight: bold;
}